body {
  margin: 0;
  font-family: "Open Sans", sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  color:#444;
  line-height: 1.6em;
}

button:focus{
  outline:0px;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

em {font-weight:600; font-style:normal;}